.DS_Store
Preferences.txt
SecretChapter.txt

#-------------------------------------------------------------------------
#Kardinaalteken dient als commentaar
#
# * kan ook gebruikt worden om meerdere files te markeren (Bijv. : *.txt)
#
#-------------------------------------------------------------------------